body {
    margin: 5px;
    background-color: #b8bb96;
}

h5 {
  display: inline;
  color: #F0F0F0;
}

h1, h2, h3, h4 {
  color: #F0F0F0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2c2a1e;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

#game {
    margin: auto;
    display: block;
    width: 40vw;
    height: 40vw;
    border-radius: 3vw;

    background-color: #2c2a1e;
    font-size: 40px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    padding-top: 2em;

    font-size: 0.75em;
}

#controls{
    padding-top: 2em;

    font-size: 0.75em;
}

#credits{
    padding-top: 2em;

    font-size: 0.75em;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

ul.menu li button {
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    color: #F0F0F0;
    width: 10em;
    height: 2.5em;
    background: #c9340b;
    border: 0.1em solid #31302E;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    cursor: pointer;
}

ul.menu li button:hover {
    background: #31302E;
}

ul.menu li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#game div p {
    font-size: 0.5em;
}

#about p {
    text-align: center;
}
